h1 {
    text-align: center;
    color: cornflowerblue;
  }
  img {
    /* display: block; */
    width: 20vw;
    height: auto;
  }
  nav {
    background-color: cornflowerblue;
    padding: 10px;
}

nav ul {
    list-style-type: none;
    margin: 0;
}

nav li {
    display: inline;
    margin-right: 25px;
}

nav a {
    color: white;
    font-size: 1.5em;
}

nav a:hover {
    color: rgb(200, 150, 158);
    text-decoration: none;
}
body {
  background-image: linear-gradient(to bottom right, cornflowerblue, white);;
  text-align: center;
}

main {
  margin-right: 20px;
  margin-left: 20px;
  background-color: white;
}

  